.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px;
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    /* Set a max-width to prevent header from exceeding viewport width */
    box-sizing: border-box;
    /* Include padding and border in width calculation */
}

.registerButtonContainer {
    background-color: #404040;
    padding: 5px 10px;
    border-radius: 5px;
}

.registerButton {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 14px;
    padding: 10px 20px;
    transition: background-color 0.3s, color 0.3s;
}


.loginBox {
    padding: 60px;
    width: 300px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input {
    background-color: #dfdfdfdd;
    width: 400px;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 5px 0;
    transition: background-color 0.3s, color 0.3s;
}

.button {
    background-color: #ff0000dd;
    color: white;
    border: none;
    margin-top: 50px;
    margin-left: 200px;
    padding: 10px 30px;
    border-radius: 4px;
    cursor: pointer;
}

.forgotPassword {
    font-size: 13px;
    margin-top: 0px;
    margin-right: 190px;
    text-align: left;
}

.forgotPassword a {
    text-decoration: none;
}

.passwordInput {
    position: relative;
}

.showPasswordButton {
    position: absolute;
    top: 40%;
    right: 10px;
    transform: translateY(-50%);
    border: none;
    background-color: transparent;
    cursor: pointer;
}

/* Media queries for responsiveness */
@media (max-width: 350px) {
    .loginBox {
        padding: 10px;
    }
}