.dark {
  --background-color: #212121;
  --foreground-color: white;

  --background-color-darker: #1a1a1a;
  --highlight-background-color: white;
  --highlight-foreground-color: black;

  --button-background-color: white;
  --button-foreground-color: black;

  --input-background-color: #161616;
  --input-foreground-color: white;

  --input-error-background-color: #f66;
  --input-error-foreground-color: inherit;
}

.dark .svg {
  filter: invert(1);
}

/* Do we want that or handle differently? */
@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #212121;
    --foreground-color: white;

    --background-color-darker: #1A1A1A;
    --highlight: white;

    --button-background-color: white;
    --button-foreground-color: black;

    --input-background-color: #161616;
    --input-foreground-color: white;
  }

  .svg {
    filter: invert(1);
  }
}
