.dark {
  --background-color: #212121;
  --foreground-color: white;

  --nav-background-color: #161616;
  --nav-tab-hover-background-color: #222;
  --nav-selected-background-color: #2a2a2a;
  --nav-selected-foreground-color: white;

  --button-background-color: white;
  --button-foreground-color: black;

  --input-background-color: #161616;
  --input-foreground-color: white;

  --table-background-color: #161616;

  --input-error-background-color: #f66;
  --input-error-foreground-color: inherit;

  --component-background-color: #161616;
  --component-faded-background-color: #1C1C1C;

  --secondary-text-color: #999;
  --text-faded: #6B6B6B;

  --new-background-color: #309600;
  --new-text-color: white;

}

.dark .svg {
  filter: invert(1);
}

/* Do we want that or handle differently? */
@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #212121;
    --foreground-color: white;

    --nav-background-color: #161616;
    --nav-tab-hover-background-color: #222;
    --nav-selected-background-color: #2a2a2a;
    --nav-selected-foreground-color: white;

    --button-background-color: white;
    --button-foreground-color: black;

    --input-background-color: #161616;
    --input-foreground-color: white;

    --table-background-color: #161616;

    --component-background-color: #161616;
    --component-faded-background-color: #1C1C1C;

    --secondary-text-color: #999;
    --text-faded: #6B6B6B;

    --new-background-color: #309600;
    --new-text-color: white;
  }

  .svg {
    filter: invert(1);
  }
}
