.dark {
  --background-color: #212121;
  --foreground-color: white;

  --nav-background-color: #1a1a1a;
  --nav-tab-hover-background-color: #222;
  --nav-selected-background-color: #2a2a2a;
  --nav-selected-foreground-color: white;

  --button-background-color: white;
  --button-foreground-color: black;

  --input-background-color: #161616;
  --input-foreground-color: white;

  --input-error-background-color: #f66;
  --input-error-foreground-color: inherit;
}

.dark .svg {
  filter: invert(1);
}

/* Do we want that or handle differently? */
@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #212121;
    --foreground-color: white;

    --nav-background-color: #1a1a1a;
    --nav-tab-hover-background-color: #222;
    --nav-selected-background-color: #2a2a2a;
    --nav-selected-foreground-color: white;

    --button-background-color: white;
    --button-foreground-color: black;

    --input-background-color: #161616;
    --input-foreground-color: white;
  }

  .svg {
    filter: invert(1);
  }
}
