.light {
  --foreground-color: black;
  --background-color: white;

  --nav-background-color: #E3E3E3;
  --nav-tab-hover-background-color: #BFBFBF;
  --nav-selected-background-color: #D3D3D3;
  --nav-selected-foreground-color: black;

  --button-background-color: black;
  --button-foreground-color: white;

  --table-background-color: #E9E9E9;

  --input-background-color: #E9E9E9;
  --input-foreground-color: black;

  --input-error-background-color: #FDD;
  --input-error-foreground-color: inherit;

  --component-background-color: #E9E9E9;
  --component-faded-background-color: #F3F3F3;

  --secondary-text-color: #666666;
  --text-faded: #A5A5A5;

  --new-background-color: #309600;
  --new-text-color: white;
}

.light .svg {
  filter: invert(0);
}