.pages-navigation {
  background-color: var(--nav-background-color);
  box-shadow: inset 0 -4px 10px 0 rgb(0 0 0 / 0.25);
  overflow: auto;

  @apply w-[300px] p-2
}

.pages-navigation .title {
  @apply p-8 text-center text-ellipsis overflow-hidden
}

.pages-navigation ul li {
  @apply flex justify-center items-center cursor-pointer rounded-md my-2
}

.pages-navigation ul li.selected {
  background-color: var(--nav-selected-background-color);
  color: var(--nav-selected-foreground-color);
}

.pages-navigation ul li:hover {
  background-color: var(--nav-tab-hover-background-color) !important;
}