.pages-navigation {
  background-color: var(--nav-background-color);
  box-shadow: inset 0 -4px 10px 0 rgb(0 0 0 / 0.25);
  display: flex;
  flex-direction: column;

  @apply w-[300px] p-2
}

.pages-navigation .notebook-title {
  @apply p-3 text-center text-ellipsis overflow-hidden text-2xl font-bold;
}

.pages-navigation ul li {
  @apply flex justify-center items-center cursor-pointer rounded-md my-2
}

.pages-navigation ul li.selected {
  background-color: var(--nav-selected-background-color);
  color: var(--nav-selected-foreground-color);
}

.pages-navigation ul li:hover {
  background-color: var(--nav-tab-hover-background-color) !important;
}

.tabs {
  @apply flex-1 overflow-auto;
}

.page-action {
  @apply text-center border border-gray-400 rounded px-4 py-2 text-sm;
}

.top-page-actions {
  @apply flex justify-between text-xs;
}

.bottom-page-actions {
  @apply grid grid-cols-1 gap-1 pt-3;
}