@import 'easymde/dist/easymde.min.css';
@import 'highlight.js/styles/atom-one-dark-reasonable.css';

:root {
  --editor-background-color: white;
  --editor-text-color: black;

  --code-background-color: #eee;
}

@media (prefers-color-scheme: dark) {
  :root {
    --editor-background-color: #212121;
    --editor-text-color: white;

    --code-background-color: #191919;
  }
}

.light {
  --editor-background-color: white;
  --editor-text-color: black;

  --code-background-color: #eee;
}


.dark {
  --editor-background-color: #212121;
  --editor-text-color: white;

  --code-background-color: #191919;
}

.editor {
  max-width: 100%;
  max-height: 100%;
}

.editor h1,
.editor h2,
.editor h3,
.editor h4,
.editor h5,
.editor h6 {
  font-size: revert;
  font-weight: revert;
}

.editor blockquote,
.editor dl,
.editor dd,
.editor hr,
.editor figure,
.editor p,
.editor pre {
  margin: revert;
}

.editor blockquote {
  padding: 0.5rem 1.5rem;
  margin: 1rem 0;
  border-left: 4px solid var(--editor-text-color);
  background-color: var(--code-background-color);
  font-style: italic;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
  color: var(--editor-text-color);
}

.editor a {
  text-decoration: underline;
  color: #007bff;
}

.editor a:hover {
  color: #0056b3;
}

.editor .EasyMDEContainer {
  display: flex;
  flex-direction: column;

  height: 100vh;
}

.editor .EasyMDEContainer ul,
.editor .EasyMDEContainer ol {
  margin-left: 2rem;
}

.editor .EasyMDEContainer li {
  line-height: 1.5;
}

.editor .EasyMDEContainer ul {
  list-style-type: disc;
}

.editor .EasyMDEContainer ol {
  list-style-type: decimal;
}

.editor .EasyMDEContainer .CodeMirror,
.editor .EasyMDEContainer .editor-preview {
  flex: 1;

  color: var(--editor-text-color);
  background-color: var(--editor-background-color);

  padding: 20px;

  border: none;
  border-radius: 0;
}

.editor .EasyMDEContainer .editor-preview pre {
  background-color: var(--code-background-color);

  padding: 20px;
  border-radius: 5px;
}

.editor .EasyMDEContainer .editor-preview-side {
  background-color: var(--editor-background-color);
}

.editor .editor-toolbar button:hover,
.editor .editor-toolbar.fullscreen button:hover {
  background-color: var(--editor-background-color);
}

.editor .editor-toolbar button.active,
.editor .editor-toolbar.fullscreen button.active {
  background-color: var(--editor-background-color);
}

.editor .editor-toolbar, .editor .editor-toolbar.fullscreen {
  background-color: var(--editor-background-color);

  border: none;
  border-radius: 0;
}

.editor .EasyMDEContainer .CodeMirror-cursor {
  border-color: var(--input-foreground-color);
}

.editor .EasyMDEContainer span[data-img-src] {
  --width: 100% !important;
}

@media print {
  .editor .editor-toolbar {
    display: none;
  }
}
