@import 'easymde/dist/easymde.min.css';
@import 'highlight.js/styles/atom-one-dark-reasonable.css';

:root {
  --editor-background-color: white;
  --editor-text-color: black;

  --code-background-color: #eee;
}

@media (prefers-color-scheme: dark) {
  :root {
    --editor-background-color: #212121;
    --editor-text-color: white;

    --code-background-color: #191919;
  }
}

.light {
  --editor-background-color: white;
  --editor-text-color: black;

  --code-background-color: #eee;
}


.dark {
  --editor-background-color: #212121;
  --editor-text-color: white;

  --code-background-color: #191919;
}

.editor {
  width: 100%;
  height: 100%;
}

.editor .ql-container.ql-snow,
.editor .ql-toolbar.ql-snow {
  border: none;
}