/*
  This file is used to define global styles for the entire application. It is 
  applied to all routes and pages.
*/
@import url('https://fonts.googleapis.com/css2?family=Montez&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --accent: #E83151;

  --background-color: white;
  --foreground-color: black;

  --button-background-color: black;
  --button-foreground-color: white;

  --input-background-color: #E9E9E9;
  --input-foreground-color: black;

  --input-error-background-color: #FDD;
  --input-error-foreground-color: inherit;

  --component-background-color: #E9E9E9;
  --component-faded-background-color: #F3F3F3;
  --secondary-text-color: #666666;
  --text-faded: #A5A5A5;

}

@layer base {
  .bg-accent {
    background-color: var(--accent);
  }

  .font-montez {
    font-family: 'Montez';
  }

  .text-accent {
    color: var(--accent);
  }

  .fill-accent {
    fill: var(--accent);
  }
}

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}


/* Generals */
body {
  font-family: 'Montserrat', sans-serif;

  color: var(--foreground-color);
  background: var(--background-color);
}

/* Inputs */
.input {
  color: var(--input-foreground-color);
  background-color: var(--input-background-color);

  height: 50px;
  padding: 10px;

  @apply rounded
}

.input-group {
  background-color: var(--input-background-color);

  @apply 
    flex 
    justify-center 
    items-center
    absolute 
    w-auto 
    mx-2 
    border-none
}

.input:not(:focus):not(:placeholder-shown):invalid,
.input:not(:focus):not(:placeholder-shown):invalid + .input-group {
  color: var(--input-error-foreground-color);
  background-color: var(--input-error-background-color);
  outline: none;
}

/* Buttons  */
.button {
  padding: 10px 40px;
  position: relative;
  white-space: nowrap;

  color: var(--button-foreground-color);
  background-color: var(--button-background-color);

  @apply 
    rounded 
    cursor-pointer 
    border-none 
    overflow-hidden 
    disabled:opacity-75 
    disabled:cursor-default
}

.button:hover {
  opacity: 0.8;
}

.button .spinner {
  @apply hidden justify-center items-center
}

.button.loading .spinner {
  @apply flex absolute inset-0
}

.button.loading .label {
  @apply invisible
}

input.invalid {
  @apply border-2 border-red-500
}

.icon-mark {
  @apply flex inline-block items-center pr-4
}

.paragraph-wrap-3 {
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}



.bg-component {
  background-color: var(--component-background-color);
}

.bg-component-faded {
  background-color: var(--component-faded-background-color);
}

.text-secondary {
  color: var(--secondary-text-color);
}

.text-faded {
  color: var(--text-faded)
}

.bg-component::placeholder {
  color: var(--secondary-text-color)
}
