/*
  This file is used to define global styles for the entire application. It is 
  applied to all routes and pages.
*/
@import url('https://fonts.googleapis.com/css2?family=Montez&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-color: 0, 0, 0;
  --background-color: 255, 255, 255;

  --accent: #E83151;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-color: 255, 255, 255;
    --background-color: 0, 0, 0;
  }
}

body {
  font-family: 'Montserrat', sans-serif;

  color: var(--foreground-color);
  background: var(--background-color)
}

.input {
  background-color: #E9E9E9;
  height: 50px;
  padding: 10px;

  @apply rounded
}

.font-montez {
  font-family: 'Montez';
}

.text-accent {
  color: var(--accent);
}

.fill-accent {
  fill: var(--accent);
}

.button {
  padding: 10px 40px;
  position: relative;
  white-space: nowrap;

  color: white;
  background-color: black;

  @apply 
    rounded 
    cursor-pointer 
    border-none 
    overflow-hidden 
    disabled:opacity-75 
    disabled:cursor-default;
}

.button .spinner {
  @apply hidden justify-center items-center
}

.button.loading {
  pointer-events: none;
}

.button.loading .spinner {
  @apply flex absolute inset-0
}

.button.loading .label {
  @apply invisible
}

.button.accent {
  color: white;
  background-color: var(--accent);
}

.button.light {
  color: black;
  background-color: white;
}