/*
  This file is used to define global styles for the entire application. It is 
  applied to all routes and pages.
*/

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --accent: #E83151;
  --bg-color: rgb(42, 41, 41);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 42, 41, 41;
    --background-end-rgb: 0, 0, 0;
  }
}

/* Media queries for responsiveness */
@media (max-width: 350px) {
  body {
      padding: 10px;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

/* This is here temporarily. For some reason doing this from the component folder doesn't work */
.button {
  padding: 10px 50px;
  border: none;
  border-radius: 5px;
  cursor: pointer;

  color: white;
  background-color: black;
}

.button.accent {
  color: white !important;
  background-color: var(--accent) !important;
}

.button.light {
  color: black !important;
  background-color: white !important;
}

/* button color for register */
.buttonRegister.bg-color-dark {
  color: white;
  background-color: var(--bg-color);
}

.buttonRegister.bg-color-light {
  color: black;
  background-color: white;
}

/* Light Mode CSS */
.body.dark-mode {
  background-color: var(--bg-color);
  color: white;
}
.body.light-mode {
  background-color: white;
  color: black;
}